* {
    padding: 0;
    margin: 0;
}
  
/* Style body */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #373A3C;
    
}

/*Section Header-navbar-inicio btn*/
.nav h2 {
    font-family: 'Lobster', cursive;
    font-size: 2.3125rem;
    font-weight: 400;
    color: #660066;
}
nav li, .btn {
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #660066;
}




