* {
    padding: 0;
    margin: 0;
}
  
/* Style body  */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #660066;
    
}
.fondo-gradiente {
    background-image: linear-gradient(141deg, #a9c95a 0%, #1fc8db 51%, #1fc8db 75%);
}

/*Fonts*/
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5625rem;
    font-weight: 400;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    }

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

/*Section Navegation Header*/
.navbar {
    background-image: linear-gradient(141deg, #a9c95a 0%, #1fc8db 51%, #1fc8db 75%);
}
.navbar i {
    color: #660066;
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #660066;
}
.navbar button {
    border-color: #660066;
    
}
.navbar-expand-md .navbar-toggler{
    display: block !important;
}

nav img {
    height: 4rem;
    border-radius: 50%;
}


/*Section Carousel Header*/
.foto-perfil {
    background-image: url('../img/slide-0.png');
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel img {
    height: 400px;
    object-fit: cover;
}
.carousel-indicators {
    top: 27.5rem;
    }
    .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #23d2b5;
    border-radius: 50%;
    }

.texto-header {
    margin-top: -110px;
    position: absolute;
    z-index: 1;
    color: white;
    text-shadow: 2px 3px 3px #4b4b4b;
    background-color: #660066;
    opacity: 0.7;
    height: 120px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    
}

/*Section Experencia*/
#experiencia img {
    max-width: 100px;
}
.texto-exp a {
    color: #1f1f1f;
}

/*Section Card-Trabajos*/
.card {
    border-radius: 5px;
}
.card img {
    height: 200px;    
    object-fit: cover;
}
hr {
    background-color: #c2c2c2;
}
.card-title {
    font-size: 1rem;
    font-weight: 600;
}
.card a {
    border-radius: 5%;
    background-color: rgba(3, 168, 124, 1);
    
}
.modal-footer {
    display: block;
    text-align: center;
}

.modal-footer a, .modal-footer button {
    margin: 5px 0;

}
.modal-footer a {
    border-radius: 5%;
    background-color: rgba(3, 168, 124, 1);
    border-color:  #660066;
}
.modal h5 {
    font-weight: 700;
}

/*Section Contacto*/
#contacto {
    padding: 0;
}
#contacto .screen__CenterContent-sc {
    padding: 0;
}

/*Section Footer*/
footer {
    height: 130px;
}

footer h2, footer i {
    margin: 10px 10px;
    text-decoration: none;
    color: #fff;
}

footer i:hover {
    color: #89e5ff;
    text-decoration: none;
}

/*Responsive*/
@media (max-width: 767px) {
    .foto-perfil {
        background-position: right;
    }
    #experiencia .text-center{
        margin-top: -5rem;
    }
}
@media (min-width: 768px) {
    
    h5 {
        font-size: 1rem;
        font-weight: 700;
    }

    .texto-exp {
        text-align: left;
    }

    footer {
        height: 120px;
    }

    footer h2, footer i {
        margin: 35px 15px;
    }

    footer h2 {
        text-align: right;
        margin-right: -10px;
    }

    .iconos-rrss {
        text-align: left;
    }

}
